$custom-font: 'Francois One', sans-serif;

.danger {
	color: #9D0225;
	&:hover {
		color: #9D0225;
	}
}

/*.films{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}*/

.modal {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100000;
}

.modal-inner {
	text-align: center;
	position: absolute;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	bottom: 10%;
	z-index: 100000;
	background: #fff;
	border: 3px dashed #000;
	h1 {
		font-size: 32px;
		padding-bottom: 0;
	};
	h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 10%;
	}
	h1, h2 {
		color: #000;
	};
	.bottom {
		margin-top: 5%;
	}
}

.clear-filter {
	cursor: pointer;
}
.inside-input {
	right: 28px;
	position: absolute;
	top: 20px;
}

.films::-webkit-scrollbar {
    width: 12px;
}
 
.films::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.films::-webkit-scrollbar-thumb {
	width: 50px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.films::-webkit-scrollbar-corner { 
	background: rgba(255,0,0,0.8);
	height: 0px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.filmstrip {
	position: absolute;
	left: -100px;
	top: 0;
	z-index: -500;
}

.film-strapline {
	input {
		margin: 0;
		height: 26px;
	}
	select {
		font-family: $custom-font;
		height: 26px;
		padding: 4px 6px;
		margin: 0; 	
		option {
			font-family: $custom-font;
		}
	}
}

.film-strapline {
	background: #fff;
	margin-bottom: 4px;
	box-shadow: inset 0 0 7px #000000;
}

.film-strapline-content {
	font-size: 25px;
	width: 95%;
	margin: auto;
	padding: 5px;
	display: block;
	text-align: center;
	h3 {
		font-size: 18px;
		color: #000;
	}
}

.film-strapline button {
	padding: 3px;
}
.day-button-group {
	border-bottom: 2px solid #000;
	button {
		text-transform: uppercase;
		font-size: 13px;
		width: 25%;
		margin: 0;
		background: #fff;
		color: #000;
		border: 1px solid #000;
		//font-weight: bold;
	}
	button:hover {
		background: #DCDCDC;
	}
	.active {
		font-weight: bold;
		box-shadow: inset 0px 0px 10px grey;
		outline: none;
	}
}
button {
	margin: 0;
}
.search-box {
	width: 95%;
	margin: auto;
	border: 2px solid #CABF8E;
	background: #FFF0B4;
	margin: 6px;
	.search-box-inner {
		padding: 6px;
	}
	.sort {
		width: 20%;
		float: left;
		padding: 6px;
		text-align: right;
	}
	.select {
		border-left: 2px dashed #CABF8E;
		width: 80%;
		float: left;
		padding: 6px;
	}
	.search-button {
		font-size: 14px;
		background: #75011B;
		font-family: $custom-font;
		width: 70%;
		font-size: 14px;
	}
	.geolocation-button {
		background: #75011B;
		width: 28%;
		height: 26px;
		padding: 1px;
		position: absolute;
		right: 0;
	}
	.search-movie {
		text-align: center;
		input {
			width: 95%;
			margin: auto;
		}
	}
	.search-filters {
		text-align: center;
		select {
			width: 95%;
			margin: auto;
		}
	}
}

.times-box {
	width: 100%;
	margin: auto;
	border: 2px solid #CABF8E;
	background: #FFF0B4;
	display: inline-block;
	padding: 2px;
	p {
		margin: 0;
		padding: 0;
	}
}

.cluster {
	color: green;
}


.loading {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	width: 300px;
	height: 300px;
	z-index: 999999999;
	margin: auto;
	text-align: center;
	h1 {
		color: #000;
	}
}

.loading-movies {
	color: #fff;
	margin: 30px;
	h2 {
		font-size: 40px;
		color: #fff;
		text-shadow: 2px 2px #9B9B9B;
	}
	text-align: center;
}

.search {
	position: absolute;
	top: 33px;
	z-index: 5000;
	right: -20px;
	width: 50%
}

.search input {
	height: 50.375px;
}

.main {
	background: #fff;
}

.fullWidth {
   width: 100%;
   max-width: initial;
}

.columns {
	padding: 0;
}

h2 {
	font-size: 1.25em;
	color: #000;
}

.films {
	overflow: scroll;
	position: absolute;
	height: calc(100% - 120px + 15px);  //take away header, add 15 for the bottom scroll	
	z-index: 10;
	width: 31%;
	margin-bottom: -15px;
}

.film {
	background: #fff;
	overflow: hidden;
	width: 90%;
	margin: 5%;
	box-shadow: 4px 4px 4px grey;

	position: relative;
}

.film-title {
	margin: 0;
	padding: 4px;
}

.film-poster {
	float: left;
	width: 109px;
}

.film-poster img {
	height: 162px;
}

.film-details {
	color: #262526;
	padding: 8px;
	margin-left: 108px;
}

.film-details .row .row {
	margin: 0;
}

.film-details h2 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.film-details p {
	font-size: 0.9em;
	margin: 1.3% 0;
}

.button.film-controls {
	background: #A50328;
	padding: 6px;
	font-size: 16px;
	width: 98%;
	margin: 1% 1%;
}
.button.film-controls:first-of-type {
	margin-right: 0.5%;
}

.show-more {
	position: absolute;
	z-index: 1000;
	text-align: center;
	border-top: 1px solid #000;
	height: 25px;
	width: 100%;
	margin-top: 160px;
	right: 0;
	font-size: 14px;
	padding: 0px;
	padding-bottom: 10px;
	background: #F4F4F4;
}
.show-more:hover {
	background: #CFCFCF;
}

.show-less {
	border-top: 1px solid #000;
	text-align: center;
	background: #F4F4F4;
}
.show-less:hover {
	background: #CFCFCF;
	cursor: pointer;
}

.trailer {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100000;
}

.close-trailer {
	position: absolute;
	right: 4px;
	padding: 12px;
	text-shadow: 2px 2px #A4A4A4;
}
.close-trailer i {
	font-size: 65px;
	color: #fff;
}
.close-trailer i:hover {
	color: #C5C5C5;
	//color: #9E9E9E;
	cursor: pointer;
	text-shadow: 2px 2px #828282;
}

.reset-filters {
	font-size: 35px;
	padding-left: 7px;
	display: inline-block;
	position: relative;
	top: 4px;
}
.reset-filters:hover {
	color: #626262;
	cursor: pointer;
}

.rating {
	margin: 2% 8% 2% 0;
	float: left;
}

.rating .figure {
	padding-left: 2%;
	font-size: 22px;
	line-height: 36px;
	float: right;
	text-align: right;
}

.strapline {
	position: absolute;
	margin: auto;
	top: -20px;
	left: 0;
	right: 0;
	min-width: 10px;
	z-index: 10000;
	text-align: center;	
}
.strapline-content {
	font-size: 1.4em;
	background: #fff;
	padding: 6px;
	height: 45px;
	line-height: 35px;
	border: 2px solid;	
}

.movie-highlight {
	box-shadow: 6px 6px 4px #EAB562;
}

.movie-list {
	font-size: 13.5px;
	margin: 0 auto;
}

.rating-link:hover {
	transform:scale(1.06)
}