.search {
	position: absolute;
	top: 40px;
	z-index: 5000;
	right: 60px;
}

.main {
	background: #fff;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.columns {
	padding: 0;
}

h2 {
	font-size: 1.25em;
	color: #000;
}

.films {
	overflow: scroll;
	position: absolute;
	height: calc(100% - 120px);	
	top: 120px;
	z-index: 10;
}

.film {
	background: #fff;
	border: 1px solid;
	position: relative;
}

.film-title {
	margin: 0;
	padding: 4px;
}

.film-poster {
}

.film-details {
}

.film-details table {
	width: 100%;
	margin: 0;
}

.trailer {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
}

.close-trailer {
	position: absolute;
	right: 0;
}

.reset-filter {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.angular-google-map {
	height: 100%;
	height: 800px;
}