// bower:scss
// endbower

/* various structural elements */
$footer-color: #000;
$hover-color: #232323;
$custom-font: 'Francois One', sans-serif;
$secondary-font: 'Francois One', sans-serif;
$banner-height: 120px;

body {
  font-family: $secondary-font;
  background-image: url(/images/dirty_old_shirt.png);
}

.top-bar {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  height: 120px;
  text-align: center;

  box-shadow: 0px 4px 5px 0px #000;

  z-index: 1000;
}
.banner {
  background-image: url(/images/banner.png);
  width: 100%;
  height: 120px;
}
.title-area {
  background: linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,0.2) 80%, rgba(255,255,255,0));
}

.view {
  height: calc(100% - 120px);
}

/* used site wide */
.logo {
  height: 120px;
}
h1 {
  color: #fff;
  padding: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: $custom-font;
}

/* search page & map stuff */
.list-container {
  position: absolute;
  height: calc(100% - 120px);
  width: 69%;
  top: 120px;
  right: 0;
  z-index: 10000;
  background: #fff;
  h1, h2, h3 {
    color: #000;
  }
  overflow: scroll;
}
.map-container {
  position: absolute;
  height: calc(100% - 120px);
  width: 69%;
  top: 120px;
  right: 0;
}
.angular-google-map,
.angular-google-map-container,
#map-canvas {
  height: 100%;
}

#map-canvas img {
    max-width: none;
}

/* video player page */
.youtube-player {
  width: 100%;
  height: 100%;
}