<div class="films">
	<div class="film-strapline">
		<div class="row day-button-group"><button ng-click="selectDay(0)">Today</button><button ng-click="selectDay(1)">Tomorrow</button><button ng-click="selectDay(2)">{{::tomorrowPlus1}}</button><button ng-click="selectDay(3)">{{::tomorrowPlus2}}</button></div>
		<div class="row">
			<div class="medium-12 columns" ng-show="addressError">Sorry, we couldn't find the address '{{address}}'</div>
		</div>
		<div class="row">
			<div class="search-box">
				<div class="search-box-inner clearfix">
					<div class="medium-8 columns">
						<input type="text" ng-model="address" placeholder="Enter a location">
					</div>
					<div class="medium-4 columns">
				 		<button ng-click="doSearch()" class="search-button">Search</button>
						<button ng-if="geolocationFeature" class="geolocation-button" ng-click="getLocation()"><i class="fa fa-location-arrow"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				<div class="search-box">
					<div class="search-box-inner">
						<input type="text" ng-model="filters.moviename" placeholder="Filter by movie name">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<div class="search-box clearfix">
					<div class="sort">Sort by</div>
					<div class="select">
						<select ng-model="filterFn" ng-options="f.fn as f.l for f in filterFns"></select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="loading-movies" ng-hide="movies.length>0">
		<h2>Loading movies now...</h2>
	</div>

	<div  ng-repeat="movie in movies | filter:filterByMovieIds | filter:filterBySelectedCinema | filter:filters.moviename | orderBy:filterFn:true">
		<div ng-class="{'movie-highlight':movie.id===selectedMovie}" class="film" expand fixedHeight="184px">
			<a ng-click="open = !open"><div class="show-more" ng-hide="open">See more <i class="fa fa-caret-down"></i></div></a>
			<div class="film-poster">
				<img ng-src="{{::movie.rt.poster}}" alt="{{::movie.title}}" width="109" height="162">
			</div>
			<div class="film-details" full-width margin="108">
				<h2 class="film-title">{{::movie.title}}</h2>

				<div class="row">
					<div class="small-6 columns">
						<a ng-click="openTrailer(movie)"><i class="fa fa-play"></i> Play trailer</a>
					</div>
					<div class="small-6 columns">
						<a ng-if="selectedMovie!==movie.id" ng-click="filterCinemas({ movie: movie, updateUrl: true })"><i class="fa fa-film"></i> Showing at</a>
						<a ng-if="selectedMovie===movie.id" ng-click="unfilterCinemas()"><i class="fa fa-film"></i> Show all</a>
						<a ng-if="filterOptions.movie==movie.title" ng-click="reset()">Reset map</a>	
					</div>
					<div class="small-6 columns">
						<div class="rating">
							<a ng-href="http://www.imdb.com/title/{{::movie.imdb.imdbId}}/" target="_blank" ng-if="movie.imdb.imdbId"><img src="/images/imdb.png" alt="IMDb" class="rating-link"></a>
							<img ng-if="!movie.imdb.imdbId" src="/images/imdb.png" alt="IMDb"> <span class="figure">{{::movie.imdb.rating}}</span>
						</div>					
					</div>
					<div class="small-6 columns">
						<div class="rating">
							<a ng-href="http://www.rottentomatoes.com/m/{{::movie.rt.rtId}}/" target="_blank">
							<img src="/images/rotten.png" alt="Rotten" ng-if="movie.rt.rating<50" class="rating-link">
							<img src="/images/fresh.png" alt="Fresh" ng-if="movie.rt.rating>50" class="rating-link">
							<img src="/images/rtgrey.png" alt="Unknown" ng-if="movie.rt.rating===' --'" class="rating-link">
							</a>
							<span class="figure">{{::movie.rt.rating}}%</span>
						</div>					
					</div>

				<movie-times ng-if="selectedCinema"></movie-times>				

				<p>{{::movie.imdb.genre.join(', ')}}</p>
				<p>{{::movie.imdb.synopsis}}</p>
				<p>Starring <strong>{{::movie.imdb.actors}}</strong></p>
				
				<div class="medium-6 columns"><p><strong>{{::movie.rt.runtime}}</strong> minutes</p></div>
				<div class="medium-6 columns">
					<p ng-if="movie.rt.releaseDate">Released <span am-time-ago="::movie.rt.releaseDate"></span></p>
					<p ng-if="!movie.rt.releaseDate">Unknown release date</p>
				</div>

			</div>
			</div>

			<div class="show-less"><a ng-click="open = !open">See less</a></div>
		</div>
	</div>
</div>

<div class="medium-12 columns trailer" ng-if="youtubeId">
	<div class="close-trailer" ng-click="closeTrailer()"><i class="fa fa-times-circle-o"></i></div>
	<youtube-video id="ytplayer" video-id="youtubeId" player="youtubePlayer.player" player-vars="playerVars" class="youtube-player"></youtube-video>	
</div>

<div class="map-container">
	<div class="loading" ng-if="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
		<h1>Loading...</h1>
	</div>

	<div class="strapline" ng-show="selectedMovie && selectedCinema">
		<span class="strapline-content">Movie times for {{selectedMovieObject.title}} at {{selectedCinemaObject.title}}</span>
	</div>
	<div class="strapline" ng-show="!selectedMovie && !selectedCinema">
		<span class="strapline-content">Showing all movies playing at cinemas on the map</span>
	</div>	
	<div class="strapline" ng-show="selectedCinema && !selectedMovie">
		<span class="strapline-content">Showing all movies playing at {{selectedCinemaObject.title}} <i ng-click="resetFilters()" class="reset-filters fa fa-times-circle"></i></span>
	</div>	
	<div class="strapline" ng-show="selectedMovie && !selectedCinema">
		<span class="strapline-content">Showing only cinemas playing {{selectedMovieObject.title}} <i  ng-click="resetFilters()" class="reset-filters fa fa-times-circle"></i></span>
	</div>

	<markers data-cinemas="{{cinemas}}" data-selected-movie="{{selectedMovie}}" data-movies="{{movies}}" map="map" mc="mc"></markers>
	<div id="map-canvas"></div>
</div>

<div class="list-container" ng-if="google">
	<div ng-repeat="cinema in cinemas | limitTo:3 track by $index">
		<h1>{{::cinema.title}}</h1>
		<h2>{{::cinema.address}} - {{::cinema.phone}}</h2>
		<p ng-repeat="movieId in cinema.movies track by $index">
			<movie-times data-tid="{{::cinema.tid}}" data-movie-id="{{::movieId}}" data-movies="{{::movies}}" data-selected-day="{{::selectedDay}}"></movie-times>
		</p>
	</div>
</div>