<div class="search">
		<div class="row">
			<div class="medium-8 columns">
				<input type="text" ng-model="address">		
			</div>
			<div class="medium-4 columns">
		 		<button class="button" ng-click="doSearch()">Search</button>
			</div>
		</div>
</div>

<div class="row fullWidth">
	<div class="medium-3 columns films">
		<div class="row film" ng-repeat="movie in movieList">
			<div>
				<div class="film-poster medium-4 columns">
					<img ng-src="{{movie.details.rt.poster}}" alt="">
				</div>

				<div class="film-details medium-8 columns">
					<h2 class="film-title">{{movie.title}}</h2>
					<table>
						<tr>
							<td>IMDB</td>
							<td>{{movie.details.imdb.rating}}</td>
						</tr>
						<tr>
							<td>RT</td>
							<td>{{movie.details.rt.rating}}%</td>
						</tr>
						<tr>
							<td>Runtime</td>
							<td>{{movie.details.rt.runtime}} minutes</td>
						</tr>
						<tr>
							<td colspan="2">{{movie.details.imdb.synopsis}}</td>
						</tr>
						<tr>
							<td colspan="2"><strong>Stars</strong> {{movie.details.imdb.actors}}</td>
						</tr>
						<button ng-click="openTrailer(movie.details.youtube)">Watch trailer</button>
						<button ng-click="highlightCinemas(movie.cinemas)">Show cinemas playing film</button>
						<button ng-click="resetCinemas()">Reset map</button>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="medium-9 columns trailer" ng-if="youtubeId">
		<button class="close-trailer" ng-click="closeTrailer()">Close trailer {{youtubeId}}</button>
		<youtube-video id="ytplayer" video-id="youtubeId" player-vars="playerVars" class="youtube-player"></youtube-video>

		<div class="status-bar" fading-controls>
			<div class="row status-row">
				<div class="small-12 medium-2 columns controls text-center">
					<div class="button trailer-control" ng-click="controlVideo()">
						<i class="fa fa-pause" ng-hide="videoPaused"></i>
						<i class="fa fa-play" ng-show="videoPaused"></i>
					</div>
				</div>
				<div class="small-12 medium-8 columns">
					<h2>Now showing: {{movie.movieTitle}}</h2>
					<p>{{movie.imdb.synopsis}}</p>
					<p ng-if="movie.imdb.actors"><strong>Cast:</strong> {{movie.imdb.actors}}</p>
					<div class="row trailer-details">
						<div class="small-3 columns">
							<div class="row">
								<div class="small-7 columns logo text-right">
									<a ng-href="http://www.imdb.com/title/{{movie.imdb.imdbId}}/" target="_blank" ng-if="movie.imdb.imdbId"><img src="./images/imdb.png" alt="IMDb"></a>
									<img ng-if="!movie.imdb.imdbId" src="/images/imdb.png" alt="IMDb">
								</div> 
								<div class="small-5 columns rating">
									{{movie.imdb.rating}}
								</div> 
							</div>

						</div>
						<div class="small-3 columns">
							<div class="row">
								<div class="small-4 columns logo text-right">
									<a ng-href="http://www.rottentomatoes.com/m/{{movie.rt.rtId}}/" target="_blank">
										<img src="./images/rotten.png" alt="Rotten" ng-if="movie.rt.rating<50">
										<img src="./images/fresh.png" alt="Fresh" ng-if="movie.rt.rating>50">
										<img src="./images/rtgrey.png" alt="Unknown" ng-if="movie.rt.rating===' --'">
									</a>
								</div>
								<div class="small-8 columns rating">
									 {{movie.rt.rating}}%
								</div>
							</div>

						</div>
						<div class="small-3 columns">
							<span ng-if="movie.rt.runtime">{{movie.rt.runtime}} <small>mins</small></span>
						</div>
						<div class="small-3 columns text-center">
							<a href="#/choosedate/"><div class="button showtimes-button"></div></a>
						</div>
					</div>
				</div>
				<div class="small-12 medium-2 columns controls text-center">
					<div class="button trailer-control" ng-click="showFilm()" ng-hide="reloading"><i class="fa fa-step-forward"></i></div>
				</div>
			</div>
		</div>		
	</div>

	<div class="medium-9 columns map-container">
		<button ng-if="filtered" class="reset-filter" ng-click="resetFilter()">Reset filter</button>
		<ui-gmap-google-map center="map.center" zoom="map.zoom" events="mapEvents">
			<ui-gmap-markers models="cinemaMarkers" events="events" options="'options'" coords="'self'" icon="'icon'" fit="'true'">
	        </ui-gmap-markers>
		</ui-gmap-google-map>
	</div>
</div>