<div class="modal"  ng-if="geolocationFailed">
	<div class="modal-inner">
		<h1>Looks like you're outside GB or we couldn't find you</h1>
		<h2>Moviehunter only has cinema times for Great Britain at the moment</h2>
		
		<div class="row">
			<div class="medium-8 columns medium-offset-2">
				<div class="row">
					<div class="search-box">
						<div class="search-box-inner clearfix">
							<div class="medium-12 columns">
								<input type="text" ng-model="address" placeholder="Enter UK place">
							</div>
							<div class="medium-12 columns">
						 		<button ng-click="closeModal && doSearch()" class="modal-button">Search for location</button>

								<button class="modal-button" ng-click="closeModal() && doSearch('london')">See London</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bottom" ng-hide="voted">
			<p>How much would you like to get movie listings for your country?</p>
			<div class="button-group">
				<button ng-click="vote('dont care')" class="alert">Don't care</button>
				<button ng-click="vote('would use')">Would use it</button>
				<button ng-click="vote('really want')" class="success">Really want it</button>
			</div>
		</div>
		<div class="bottom" ng-show="voted">
			<p>Thanks for your feedback!</p>
		</div>
	</div>
</div>

<div class="films">
	<div class="film-strapline">
		<div class="row day-button-group"><button ng-class="{active:selectedDayIndex===0}" ng-click="selectDay(0)">Today</button><button ng-class="{active:selectedDayIndex===1}" ng-click="selectDay(1)">Tomorrow</button><button ng-class="{active:selectedDayIndex===2}" ng-click="selectDay(2)">{{::tomorrowPlus1}}</button><button ng-class="{active:selectedDayIndex===3}" ng-click="selectDay(3)">{{::tomorrowPlus2}}</button></div>

		<div class="row">
			<div class="medium-12 columns">
				<div class="search-box">
					<div class="search-box-inner clearfix">
						<form ng-submit="setMovienameFilter()">
							<div class="medium-6 columns">
								<!-- ng-model="filters.moviename" -->
								<!-- ng-change="selectedMovie = null" -->
								<!-- on-select="setMovienameFilter()" -->
<!-- 								<autocomplete data="movieNames"  attr-placeholder="Title or genre" ng-model="searchMoviename"></autocomplete>
 -->
								<input type="text" ng-model="searchMoviename" placeholder="Movie title or genre"><i ng-click="resetMovienameFilter()" ng-show="filters.moviename" class="clear-filter inside-input fa fa-times-circle"></i>
							</div>
							<div class="medium-6 columns">
								<button ng-click="filters.moviename = searchMoviename;selectedMovie = null" class="search-button movie-search-button">Search movies</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns" ng-show="addressError">Sorry, we couldn't find the address '{{address}}'</div>
		</div>
		<div class="row">
			<div class="search-box">
				<div class="search-box-inner clearfix">
					<form ng-submit="doSearch()">
						<div class="medium-6 columns">
							<input type="text" ng-model="address" placeholder="Enter a place">
						</div>
						<div class="medium-6 columns">
					 		<button ng-click="doSearch()" class="search-button">Search by location</button>
							<button ng-if="geolocationFeature" class="geolocation-button" ng-click="getLocation()"><i class="fa fa-location-arrow"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>

<!-- 		<div class="row">
			<div class="small-12 columns">
				<div class="search-box clearfix">
					<div class="sort">Sort by</div>
					<div class="select">
						<select ng-model="filterFn" ng-options="f.fn as f.l for f in filterFns"></select>
					</div>
				</div>
			</div>
		</div> -->
	</div>

	<div class="film-strapline" ng-show="selectedMovie && selectedCinema">
		<span class="film-strapline-content">Movie times for {{selectedMovieObject.title}} at {{selectedCinemaObject.title}}</span>
	</div>
	<div class="film-strapline" ng-show="!selectedMovie && !selectedCinema && !filters.moviename && filteredMovies.length > 0">
		<span class="film-strapline-content">{{filteredMovies.length}} movies showing in this area
		<h3>Drag/zoom map for movies elsewhere</h3>
		</span>
	</div>	
	<div class="film-strapline" ng-show="!selectedMovie && !selectedCinema && filters.moviename">
		<span class="film-strapline-content">Movies matching '{{filters.moviename}}'
		<i ng-click="resetMovienameFilter()" class="clear-filter fa fa-times-circle"></i>
		</span>
	</div>	
	<div class="film-strapline" ng-show="selectedCinema && !selectedMovie">
		<span class="film-strapline-content">Movies at {{selectedCinemaObject.title}} <i ng-click="unselectCinema()" class="reset-filters fa fa-times-circle"></i>
		<h3>Drag/zoom map for movie elsewhere</h3>	
		</span>	
	</div>	
	<div class="film-strapline" ng-show="selectedMovie && !selectedCinema" ng-click="unselectCinema()">
		<span class="film-strapline-content">Click to clear filter <i  ng-click="unselectCinema()" class="reset-filters fa fa-times-circle"></i>
		<h3>Drag or zoom the map to see other cinemas playing {{selectedMovieObject.title}}</h3>
		</span>		
	</div>

	<div class="film"  ng-hide="movies.length<1	">
		<div class="film-poster" ng-click="open = !open">
			<img src="/images/bogart.png" alt="No films here buddy" width="109" height="162">
		</div>	
		<div  class="film-details" full-width margin="108">
			<div class="row">
				<div class="small-12 columns">
					<h2>Want to see more films?</h2>
					<p>Find more films by dragging the map or zooming out.</p>
					<p>Only movies showing at cinemas in the map area show up in the list.</p>
				</div>
			</div>	
		</div>
	</div>

	<div class="loading-movies" ng-hide="movies.length>0">
		<h2>Loading movies now...</h2>
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>

	<div class="film" ng-show="filters.moviename && !selectedCinema && filteredMovies.length<1">
		<h2>'{{filters.moviename}}' isn't showing in this area. Zoom out or drag to see show it's at cinemas elsewhere</h2>
	</div>

	<div class="film" ng-show="filters.moviename && selectedCinema && filteredMovies.length<1">
		<h2>'{{filters.moviename}}' isn't showing at {{selectedCinemaObject.title}} in the next 4 days.</h2>
	</div>	

	<div  
	ng-repeat="movie in filteredMovies = (movies | filter:filterByMovieIds | filter:filterBySelectedCinema | orderBy:filterFn:true)">
		<div 
		ng-show="([movie] | filter:filters.moviename).length > 0"
		ng-class="{'movie-highlight':movie.id===selectedMovie}" class="film" expand fixedHeight="184px">
			<a ng-click="open = !open"><div class="show-more" ng-hide="open">See more & showtimes <i class="fa fa-caret-down"></i></div></a>
			<div class="film-poster" ng-click="open = !open">
				<img ng-src="{{::movie.rt.poster}}" alt="{{::movie.title}}" width="109" height="162">
			</div>
			<div ng-click="open = !open" class="film-details" full-width margin="108">
				<h2 class="film-title">{{::movie.title}}</h2>

				<div class="row">
					<div class="small-4 columns">
						<div class="rating">
							<a ng-href="http://www.imdb.com/title/{{::movie.imdb.imdbId}}/" target="_blank" ng-if="movie.imdb.imdbId"><img src="/images/imdb.png" alt="IMDb" class="rating-link"></a>
							<img ng-if="!movie.imdb.imdbId" src="/images/imdb.png" alt="IMDb"> 
						</div>					
					</div>
					<div class="small-2 columns">
						<div class="rating">	
							<span class="figure">{{::movie.imdb.rating}}</span>
						</div>
					</div>
					<div class="small-3 columns">
						<div class="rating">
							<a ng-href="http://www.rottentomatoes.com/m/{{::movie.rt.rtId}}/" target="_blank">
							<img src="/images/rotten.png" alt="Rotten" ng-if="movie.rt.rating<50" class="rating-link">
							<img src="/images/fresh.png" alt="Fresh" ng-if="movie.rt.rating>50" class="rating-link">
							<img src="/images/rtgrey.png" alt="Unknown" ng-if="movie.rt.rating===' --'" class="rating-link">
							</a>
						</div>					
					</div>
					<div class="small-3 columns">
						<div class="rating">
							<span class="figure">{{::movie.rt.rating}}%</span>
						</div>
					</div>

				<movie-times></movie-times>		

				<div>
					
				</div>		
				
				<div class="clearfix">
					<p>{{::movie.imdb.genre.join(', ')}}</p>
					<p>{{::movie.imdb.synopsis}}</p>
					<p>Starring <strong>{{::movie.imdb.actors}}</strong></p>
				</div>
				
				<div class="medium-6 columns"><p><strong>{{::movie.rt.runtime}}</strong> minutes</p></div>
				<div class="medium-6 columns">
					<p ng-if="movie.rt.releaseDate">Released <span time-ago="::movie.rt.releaseDate"></span></p>
					<p ng-if="!movie.rt.releaseDate">Unknown release date</p>
				</div>

			</div>
			</div>

			<div class="show-less" ng-click="open = !open"><a>See less</a></div>
		</div>
	</div>
</div>

<div class="medium-12 columns trailer" ng-if="youtubeId">
	<div class="close-trailer" ng-click="closeTrailer()"><i class="fa fa-times-circle-o"></i></div>
	<youtube-video id="ytplayer" video-id="youtubeId" player="youtubePlayer.player" player-vars="playerVars" class="youtube-player"></youtube-video>	
</div>

<div class="map-container">
	<div class="strapline" ng-show="selectedMovie && selectedCinema">
		<span class="strapline-content">{{selectedCinemaObject.title}} - {{selectedMovieObject.title}}</span>
	</div>
	<div class="strapline map-loading" ng-show="cinemas.length<1 && cinemasLoading">
		<span class="strapline-content">Loading cinemas now...</span>
	</div>	
	<div class="strapline map-loading" ng-hide="cinemas.length>0 || cinemasLoading">
		<span class="strapline-content">No cinemas here, drag map or zoom out</span>
	</div>
	<div class="strapline" ng-show="selectedCinema && !selectedMovie">
		<span class="strapline-content">{{selectedCinemaObject.title}} <i ng-click="unselectCinema()" class="reset-filters fa fa-times-circle"></i></span>
	</div>	
	<div class="strapline" ng-show="selectedMovie && !selectedCinema">
		<span class="strapline-content">Cinemas playing {{selectedMovieObject.title}} <i  ng-click="resetFilters()" class="reset-filters fa fa-times-circle"></i></span>
	</div>
	<markers></markers>
	<div id="map-canvas"></div>
</div>

<!-- <div class="list-container" ng-if="google">
	<div ng-repeat="cinema in cinemas | limitTo:3 track by $index">
		<h1>{{::cinema.title}}</h1>
		<h2>{{::cinema.address}} - {{::cinema.phone}}</h2>
		<p ng-repeat="movieId in cinema.movies track by $index">
			<movie-times data-tid="{{::cinema.tid}}" data-movie-id="{{::movieId}}" data-movies="{{::movies}}" data-selected-day="{{::selectedDay}}"></movie-times>
		</p>
	</div>
</div> -->