<div class="row pick-cinema">
	<div class="small-12 offset-2 columns">
		<div class="row">
			<div class="small-12 columns">
				<h1>{{movieTitle}} <small>on</small> {{dateChoice | amDateFormat:'dddd Do MMMM'}}</h1>
				<h2>Choose a cinema</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-8 columns map">
				<google-map center="map.center" zoom="map.zoom">
					<markers models="cinemaMarkers" coords="'self'" icon="'icon'" fit="'true'"></markers>
					<polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" fit="true"></polyline>
				</google-map>
			</div>
			<div class="small-4 columns cinemas">
				<section class="cinema-info" hover-polyline ng-repeat="cinema in collatedCinemas | orderBy:cinema.distance" ng-mouseenter="drawPolyline($index)" ng-click="nextStep($index)">
					<h2>{{cinema.title | splitOnCommas}}</h2>
					<p>{{cinema.address}}</p>
					<p>{{cinema.distance}} away</p>
					<p>Times: <span ng-repeat="time in cinema.times">{{time}} </span></p>
				</section>
			</div>
		</div>
	</div>
</div>