<div class="row">
	<div class="small-12 columns text-center">
		<h1>Summary of your choices</h1>
		<h2>The Expendables</h2>
		<h2>at Darley Movie Multiplex</h2>
		<h2>on Tuesday 19th (tomorrow) at 3:30pm</h2>

		<div class="row">
			<div class="small-4 columns">
				<div class="button">Share on fb</div>
			</div>
			<div class="small-4 columns">
				<div class="button">Share on twitter</div>
			</div>
			<div class="small-4 columns">
				<div class="button">Email</div>
			</div>
		</div>

		<a href="#/"><div class="button">Start again</div></a>
	</div>
</div>